<div class="movie-card" data-controller="edit-book" data-edit-book-target="card">
  <%= image_tag reading.book.img_book %>

  <div class="movie-infos <%= 'd-none' if reading.errors.any? %>" data-edit-book-target="infos">
    <h2><%= reading.book.title %><small> (<%= reading.book.published_year %>)</small></h2>
    <button aria-label="Edit movie">
      <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->edit-book#displayForm"></i>
    </button>
  </div>

  <div>
    <%= simple_form_for [user, reading], html: {class: reading.errors.any? ? "" : "d-none",
      data: {edit_book_target: 'form', action: "submit->edit-book#update"}} do |f| %>
      <%= f.input :book, wrapper_html: { class: 'd-none' }%>
      <div class="form-row">
        <div class="">
          <%= f.input :given_page, label: 'Type the number of pages'%>
        </div>
      </div>
      <p class="text-muted">Book total pages: <%= reading.book.num_of_pages %></p>
       <%= f.button :submit, "Done!", class:"btn button-colors-2", style:"background-color: #6E85B7;"%>
    <%end %>
  </div>

  <div class="d-flex justify-content-end">
    <%= link_to book_path(reading.book), class:"link-trash" do %>
      <i class="fa-solid fa-book"></i>
      <% end %>
    <%= link_to reading_path(reading), class:"link-trash", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
    <i class="fa-regular fa-trash-can"></i>
    <% end %>
  </div>
</div>
