<%= render "shared/nav_search" %>

<div class="container">

  <div class="row justify-content-center">
   <h1 class="text-center mt-4"><span style="color:#6E85B7;">Welcome!</span></h1>

    <div class="col-9 p-5 mt-3" style="background-color: white; border-radius:10px;">
      <h4>What book are your reading?</h4>
      <%= simple_form_for [@user, @reading] do |f| %>
        <%= f.association :book, :label => 'Pick the book'%>
        <p><%= f.input :given_page, :label => 'How many pages you read' %></p>
        <%= f.button :submit, "Add to my Reading List!", class:"btn button-colors-2",
          style:"background-color: #6E85B7;"%>
      <%end %>
    </div>

    <div class="col-9 p-3 m-3" style="background-color: white; border-radius:10px;">
      <h4>My Reading List</h4>
      <div class="d-flex justify-content-evenly">
        <% current_user.readings.each do |reading| %>
          <%= render "book_info", reading:reading, user:current_user %>
        <% end %>
      </div>
    </div>

    <div class="col-9 p-5 mt-3 mb-4" style="background-color: white; border-radius:10px;">
      <h4>Here is your Book List:</h4><br>
      <% current_user.list.bookmarks.each do |bookmark|%>
        <div class="card-usershow">
          <img src="<%= bookmark.book.img_book%>"/>
          <div class="card-usershow-infos">
            <h2><%= bookmark.book.title %></h2>
            <p><%= bookmark.book.author %></p>
            <p><%= bookmark.book.num_of_pages %> pages</p>
            <div class="d-flex justify-content-end">
              <%= link_to bookmark_path(bookmark), class:"link-trash",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
              <i class="fa-regular fa-trash"></i>
              <% end %>
             </div>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>
