<%= render "shared/nav_search" %>

<div class="container">

  <div class="row justify-content-center">
   <h1 class="text-center mt-4"><span style="color:#6E85B7;">Welcome, <%= current_user.nickname %>!</span></h1>

    <div class="col-9 p-4 mt-3 mb-4" style="background-color: #B2C7DF; border-radius:10px;">
      <h5>What book are your reading?</h5>
        <%= simple_form_for [@user, @reading], html: {class: "row align-items-end"} do |f| %>
         <div class="col-12">
            <%= f.association :book, :label => 'Pick the book'%>
         </div>
         <div class="col-6">
            <p><%= f.input :given_page, :label => 'How many pages you read' %></p>
         </div>
         <div class="col-6 d-flex justify-content-center">
           <%= f.button :submit, "Add to my Reading List!", class:"btn button-colors-2 mb-3",
            style:"background-color: black;"%>
         </div>
        <%end %>
    </div>

    <div class="col-9 p-4 mt-3 mb-4" style="background-color: #B2C7DF; border-radius:10px;">
      <h5>My Reading List:</h5>
      <div class="d-flex justify-content-evenly">
        <% current_user.readings.each do |reading| %>
          <%= render "book_info", reading:reading, user:current_user %>
        <% end %>
      </div>
    </div>

  <div class="col-9 p-4 mt-3 mb-5" style="background-color: #B2C7DF; border-radius:10px;">
    <h5>Your Book List:</h5><br>
    <div class="d-flex align-content-around flex-wrap justify-content-center" >
      <% current_user.list.bookmarks.each do |bookmark|%>
        <div class="card-usershow ">
          <img src="<%= bookmark.book.img_book%>"/>
          <div class="card-usershow-infos">
            <h2><%= bookmark.book.title %></h2>
            <p><%= bookmark.book.author %></p>
            <p><%= bookmark.book.num_of_pages %> pages</p>
            <div class="d-flex justify-content-end">
              <%= link_to bookmark_path(bookmark), class:"link-trash",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
              <i class="fa-regular fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
   </div>
  </div>
</div>
