<h1>Top rated Books 2022</h1>

<div class="container">
  <div class="row">
    <% @books.each do |book| %>
      <div class= "col-4 mb-3">
          <div class="card-product">
              <img src= <%= display_img(book) %>, class="card-img-top" alt="...">
              <div class="card-product-infos">
                <h2><%= book.display_title %></h2>
                <p><%= book.author %></p>
                <%# <p><%= book.description %></p>
                 <%= link_to book_path(book) do %>
                 <i class="fas fa-book-medical"></i>
                <%end%>
              </div>
          </div>
      </div>
    <%end%>
  </div>
</div>
