<h1>Books</h1>

<div class="cards-index">
  <img src="" alt="Avatar" style="width:100%">
  <div class="container">
      <% @books.each do |book| %>
        <%= link_to book_path(book) do %>

        <h4><b><%= book.title %></b></h4>
    <p><%= book.author %></p>

          <div class="card" style="width: 18rem">
            <%# <%= cl_image_tag boat.photo.key, crop: :fill, class: "card-img-top cards-img" %> %>
            <div class="card-body">
              <h5 class="card-title"> <%= book.title %></h5>
              <p class="card-text"> <%= book.author %></p>
            </div>
          </div>

        <% end %>
      <% end %>

  </div>
</div>
