<div class="container">
  <div class="row">
    <div class="col-3 mt-3">
      <img src="https://picsum.photos/id/237/200/300">
    </div>
    <div class="col-6 mt-3">
      <div class="card" >
        <h1 class="text-center"><%= @book.title %></h1>
        <p class="text-center"><%= @book.author %></p>
        <p class="text-center"><%= @book.category %></p>
        <p class="text-center"><%= @book.published_year %></p>
        <p class="text-center"><%= @book.description %></p>
        <p class="text-center"><%= @book.num_of_pages %></p>
      </div>
    </div>
    <div class="col-3 align-self-center mx-auto">
      <a href="..." class="btn btn-primary">Add to my list</a>
    </div>
  </div>
</div>
